body {
  width:100%;
  height: 100%;
}
.viewport {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.frame{
  width:200%;position: relative;
  padding-top: 70px;
}
.main-content{width:50%;}
.side-menu{
  width:auto;
  position: relative;
  overflow: hidden;
}
.slide{
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
  
}
.slide.in {
  width: 25%;
}
.slide.out{
  width: 0;
}
.fade{
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}
.fade.out{
  opacity: 0;
}
.fade.in{
  opacity: 1;
}